#contenidolibros
{
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-wrap:nowrap;
}
#datoslibros h1{
    text-align: center;
    color: aliceblue;
    background-color:#51415E;
    padding-bottom: 10px;
    margin: 10px 20px ;
    border-radius: 20px;
    
}
#contenidolibros>#galeria{
    width: 70%;
}
#galeria h1{
    text-align: center;
    color: aliceblue;
    background-color:#51415E;
    padding: 10px;
    margin: 10px 20px ;
    border-radius: 20px;
    
}
#contenidolibros>#galeria>#imagenesgaleria{
    text-align: center;
}
#datosmusica h1{
    text-align: center;
    color: aliceblue;
    background-color:#51415E;
    padding: 10px;
    margin: 10px 20px ;
    font-size: 20px;
    border-radius: 20px;
    background-image: url("../img/music.png");
    background-repeat: no-repeat;
    background-size:38px;
    
}
#contenidolibros>#puntitos
{
    width: 10%;
}
#contenidomusica >#puntitos
{
    padding: 20px;
    width: 10%;
}
#contenidolibros>#datoslibros
{
    width: 60%;
    border-right: #51415E solid 1px ;
}
#contenidolibros>#enlacesinteres
{
    width: 20%;
    margin: 0px 10px 10px 20px;
}
#contenidomusica>#enlacesdeinteres
{
    width: 20%;
    margin: 0px 10px, 10px, 20px;
}
#contenido-marcolibros{
    display: flex;
    flex-wrap:nowrap;
}
#contenido-marcolibros>#fotolibro{
    width: 20%;
}
#contenido-marcolibros>#detallelibros{
    width: 70%;
}

span a{
    color: #0071BA;
    font-weight: bold;
    text-decoration: none;
}
span a:hover{
    color: #EB1C24;
    font-weight: bold;
    text-decoration:underline;
}
span a:visited{
    color: #EB1C24;
    font-weight: bold;
}
.activo
{
    color: #555252;
    opacity: 80%;
}
.subtitulo{
    font-weight: bold;
    color: black;
}
h3,abbr,article,p{
    padding-bottom: 10px;
    text-align: justify;
}
#enlacesinteres h2{
    text-align: center;
}
#marcolibros{
    border-bottom: 1px dashed #555252;
    padding: 20px 0px 10px 0px;
    margin-right: 20px;
   
}
#detallelibros
{
    margin-left: 20px;
}
#enlacesinteres
{
    border: 1px solid #555252;
}
#enlacesinteres h2
{
    background-color:#51415E ;
    color: aliceblue;
    font-size: 16px;
    padding: 10px;
}
#enlacelink
{
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-bottom: #51415E dashed 1px;
}
#contenidomusica
{
    display: flex;
    flex-wrap:nowrap;
}
#contenidomusica>#datosmusica{
    width: 35%;
    
}
#contenidomusica>#listarepro{
    margin-top: 100px;

    width: 30%;
}
#selectTrack
{
    width: 300px;
    height: 150px;
    border: 1px solid #51415E;
    margin-top: 5px;;
    
}
#listarepro
{
    text-align: center;
}
#imagenesgaleria a:hover{
    opacity: 80%;
    max-width: 400px;
    
}